





<h1>Users</h1>
<%if notice%>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p id="notice"><%=notice%></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <%end%>

<table class="table">

  <tbody>
    <%= render @users %>
  </tbody>

</table>
<%=render 'modal'%>
<br>

<script type="application/javascript">
    console.log("ALO?")
    $('#modal_profile').modal({
        keyboard: true,
        backdrop: "static",
        show:false,

    }).on('show.bs.modal', function(){ //subscribe to show method
        console.log("weaaa?")
        var getId = $(event.target).closest('i').data('id') //get the id from tr
        $.ajax({
            url: 'users/'+getId+".json",
            type: 'GET',
            dataType: 'JSON',
            success: function(json) {
                console.log(json);
                $('#modal-head-name').text(json.first_name+" "+json.last_name)
                $('#modal-image').attr('src', json.image_url)
                $('#modal-birthday').text(json.birthday)
                $('#modal-mail').text(json.mail)
                $('#modal-rut').text(json.rut)
                var $profiles_row=$('#row-profiles-'+json.id).clone()
                $('#modal-profiles').html($profiles_row).children().children().attr('class', 'col')

            }
        });

    });

</script>